.idea**
.vs/
.vscode/**
Library/**
ProjectSettings/**
!ProjectSettings/ProjectSettings.asset
UnityPackageManager/**
Temp/**
obj/**
bin/**
*.csproj
*.sln
**.DS_Store
**PackageManager.dll

Builds**
Logs**
Packages**